body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 60%;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 25%;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.weather-card, .forecast-card {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.weather-card h2, .forecast-card h5 {
  margin: 0;
  padding: 10px 0;
}

.weather-card h1, .forecast-card p {
  margin: 10px 0;
}

.forecast {
  margin-top: 20px;
}

.forecast-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.forecast-card {
  flex-basis: 18%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.forecast-card img {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
